.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
	font-weight: bold;
    color: #46E590;
}

.navbar-custom:hover .navbar-brand:hover,
.navbar-custom .navbar-text {
    color: #85FFBD;
}

.navbar-custom .navbar-nav .nav-link {
    color: black;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #46E590;
}