@import '~bootstrap/dist/css/bootstrap.min.css';
body{
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}

.btn-success{
	background: #3BB373;
	color: white;
	border-color: #3BB373;
}

.btn-success:hover{
	background: #46E590;
    color: #ffffff;
    border-color: #46E590;
}

.btn-success:focus,
.btn-success.active {
    box-shadow: none !important;
}

.form-control:focus {
  border-color: #3BB373;
  box-shadow: 0 0 0 0.2rem rgba(59, 179, 155, 0.3);
}


.success-message{
    margin-top: 10px;
    color: green;
}

.error-message{
    margin-top: 10px;
    color: red;
}